* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1877f2;
  --color-primary-hover: #2563eb;
  --bg: #f9f9fb;
}

body {
  background-color: var(--bg);
}

.container {
  margin: 0 auto;
  width: 95%;
}

.transparent {
  background-color: transparent;
}
